<div class="wrapper">
    <div class="block">
      <h1 class="title">7,62-мм снайперська гвинтівка «Форт-301»</h1>
      <p>пʼятниця, 1 січня 2021 р.</p>
      <img
        src="https://1.bp.blogspot.com/-vpyrH7YbNLM/X3dl3AbH3VI/AAAAAAAA3cI/I82pK4EU0JggbvJPRdTxGmrJAL94GCKZACLcBGAsYHQ/s0/FORT_301.webp"
        alt=""
      />
      <h3 class="titleSub">
        Тактико-технічні характеристики (ТТХ) 5,45-мм пістолета ПСМ
      </h3>
     <div class="blockInfo">
      <span>Калібр, мм</span>
      <span>7,62×54</span>
     </div>
     <div class="blockInfo">
      <span>Принцип дії</span>
      <span>відведення порохових газів,
        поворотний затвор</span>
     </div>
     <div class="blockInfo">
      <span>Вага пістолета (без набоїв), г</span>
      <span>4,3</span>
     </div>
     <div class="blockInfo">
      <span>Вага пістолета із спорядженим магазином, г</span>
      <span>500</span>
     </div>
     <div class="blockInfo">
      <span>Довжина, мм</span>
      <span>620</span>
     </div>
     <div class="blockInfo">
      <span>Довжина ствола, мм</span>
      <span>84,6</span>
     </div>
    </div>
  </div>
  