<div class="teni">
    <div class="obvod">
      <div class="about-textsF">
      <h1 >Довідник з озброєння і військової техніки</h1>
      <h2>Озброєння</h2>
      <p></p>
      <a href="/xyz1" >легка стрілецька зброя | small arms</a><p></p>
        <a href="/dolo">снайперські гвинтівки | sniper rifles</a><p></p>
         <a href="/delo1">кулемети | machine guns</a><p></p>
          <a href="/delo2"> аксесуари для стрілецької зброї | accessories for small arms </a><p></p>
           <a href="/delo3">аксесуари для стрілецької зброї | accessories for small arms</a><p></p>
           <a href="/delo4"> ручні гранати | hand grenades</a><p></p>
           <a href="">ручні гранатомети та боєприпаси до них | hand grenade launchers </a><p></p>
           <a href=""> міни | mines</a>
    
      <h2>Артилерійське Озброєння</h2>
      <p></p>
      <a href="">автоматичні гармати | automatic cannons</a><p></p>
        <a href="">протитанкові керовані ракети | anti-tank guided missiles</a><p></p>
    
      <h2>Важке озброєння і техніка</h2>
      <p></p>
      <a href="">бойові модулі | remote weapon systems</a><p></p>
        <a href="">безпілотні наземні транспортні засоби | unmanned ground vehicles</a><p></p>
        
      <h2>Зв'язок та автоматизовані системи управління</h2>
      <p></p>
      <a href="">засоби зв'язку | communications systems and equipment</a><p></p>
        <a href="">командно-штабні машини | command and staff vehicles</a><p></p>
    
      <h2>Радіолокаційні системи</h2>
      <p></p>
      <a href="">РЛС наземної (надводної) розвідки | surface search radar</a><p></p>
       
      <h2>Ракетні комплекси (наземні)</h2>
      <p></p>
      <a href="">зенітні комплекси та озброєння | air defense system and weapons</a><p></p>
        <a href="">протикорабельні ракети | anti-ship missiles</a><p></p>
        
      <h2>Авіаційна техніка і озброєння</h2>
      <p></p>
      <a href="">авіаційне озброєння | aircraft weapon</a><p></p>
        <a href="">безпілотні авіаційні комплекси | unmanned aerial vehicles</a><p></p>
        
      <h2>Морське озброєння</h2>
      <p></p>
      <a href="">корабельні (берегові) системи озброєння | naval (coastal) weapon systems</a><p></p>
        <a href="">патрульні катери водотоннажністю до 100 т | patrol boats</a><p></p>
    
      <h2>Оптичні та оптико-електронні прилади</h2>
      <p></p>
      <a href="">прилади нічного бачення | night vision devices</a><p></p>
    
      <h2>Системи захисту</h2>
      <p></p>
      <a href="">засоби індивідуального захисту | military personal protective equipment</a><p></p>
    
    </div>
    </div>
    </div>