<div class="wrapper">
  <div class="block">
    <h1 class="title">5,45-мм пістолет самозарядний малогабаритний (ПСМ)</h1>
    <p>пʼятниця, 1 січня 2021 р.</p>
    <img
      src="https://1.bp.blogspot.com/-IItr22nxcvQ/YUb0dA8Xr7I/AAAAAAABAT8/gv9OfV7I0Sg4km9m-3GiwbUFILePHqjZwCLcBGAsYHQ/s1600/5.jpg"
      alt=""
    />
    <h3 class="titleSub">
      Тактико-технічні характеристики (ТТХ) 5,45-мм пістолета ПСМ
    </h3>
   <div class="blockInfo">
    <span>Калібр, мм</span>
    <span>5,45×18</span>
   </div>
   <div class="blockInfo">
    <span>Принцип дії</span>
    <span>вільний затвор</span>
   </div>
   <div class="blockInfo">
    <span>Вага пістолета (без набоїв), г</span>
    <span>460</span>
   </div>
   <div class="blockInfo">
    <span>Вага пістолета із спорядженим магазином, г</span>
    <span>500</span>
   </div>
   <div class="blockInfo">
    <span>Довжина, мм</span>
    <span>155</span>
   </div>
   <div class="blockInfo">
    <span>Довжина ствола, мм</span>
    <span>84,6</span>
   </div>
  </div>
</div>
